.taskbar {
  --bg1: rgba(235, 235, 235, 1);
  --bg2: rgba(255, 255, 255, 0.67);
  --bg3: rgba(255, 255, 255, 1);
  position: absolute;
  width: 100vw;
  height: 44px;
  color: var(--dark-txt);
  background: var(--bg1);
  -webkit-backdrop-filter: saturate(3) blur(20px);
  backdrop-filter: saturate(3) blur(20px);
  bottom: 0;
}

body[data-theme="dark"] {
  .taskbar {
    --bg1: rgba(32, 32, 32, 0.75);
    --bg2: rgba(255, 255, 255, 0.1);
  }

  .taskIcon,
  .searchIcon img {
    filter: invert(1);
  }
}

.taskcont {
  position: relative;
  width: 100%;
  height: 100%;
}

.win-task-tem {
  flex: 1;
}

.taskright {
  height: 100%;
  margin-left: 10px;
  display: flex;

  .weather {
    display: flex;
    font-size: 15px;
    font-weight: 450;
    align-items: center;
    margin-right: 15px;
    // background-color: red;
  }

  .language {
    display: flex;
    width: 24px;
    height: 100%;
    margin-top: -1px;
    align-items: center;
    justify-content: center;
  }

  &>div:hover {
    background: var(--bg2);
  }
}


.taskIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24px;

  svg {
    color: #303030;
  }
}

.taskDate {
  display: flex;
  padding: 3px 2px;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between;

  div {
    width: 100%;
    text-align: center;
    font-weight: 400;
  }
}

.tasksCont {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;

  &[data-side="center"] {
    align-items: center;

    .widget {
      position: absolute;
      left: 8px;
    }
  }

  &[data-side="left"] {
    align-items: flex-start;
  }

  .win-task-tem {
    flex: 1;
  }
}

.tsbar {
  width: auto;
  height: 100%;
  overflow: hidden;
}

.tsIcon {
  position: relative;
  width: 48px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0;
  background: rgba(254, 254, 254, 0);
  transform-origin: center;
  // animation: popintro 800ms ease-in-out;
  // transition: all 0.2s ease;
  border-radius: 4px;

  &:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 0px;
    height: 3px;
    border-radius: 4px;
    background: #858585;
    transition: all 0.2s ease-in-out;
  }

  &[data-open="true"]:hover:after {
    // background: var(--bg3);
    width: 100%;
  }

  &[data-open="true"]:after {
    width: 80%;
    background: var(--clrPrm);
  }

  &[data-active="true"]:after {
    width: 100%;
    background: var(--clrPrm);
  }

  &:hover {
    background: var(--bg3) !important;
  }

  &[data-active="true"] {
    background: var(--bg2);
  }
}

.graybd {
  border: solid 1px transparent;
  height: 100%;
  border-left: 1px solid #000;
}

.graybd:hover {
  border: solid 1px #a1a1a1;
}

.win-start-icon:hover {
  svg {
    fill: rgb(66, 156, 227)
  }
}

.win-start-icon {
  width: 48px;
}

.win-search {
  height: 100%;
  width: 286px;
  display: flex;
  align-items: center;
  background-color: #fff;
  // pointer-events: none;
  border: 1px solid rgb(180, 180, 180);
  // * {
  //   pointer-events: none;
  // }
  input {
    height: 18px;
    font-size: 16px;
    width: calc(100% - 38px);
    border: none;
    margin-left: -5px;
    outline: none;

    &::-webkit-input-placeholder {
      color: rgb(0, 0, 0);
    }
  }
}

.win-task {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.fix-icon {
  display: flex;
  align-items: center;
  height: 100%;
  .iconBox {
    height: 100%;
    margin-right: 2px;
  }
}

.win-task-icon-nohover {
  width: 51px;

  &:hover {
    background: none;
  }
}

.win-task-icon-hover {
  width: 51px;
}

.tsbar {
  .win-search-icon {
    width: 41px;
  }
}

@keyframes popintro {
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(1.125);
  }

  70% {
    transform: scale(0.725);
  }

  100% {
    transform: scale(1);
  }
}