@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center
}

.searchTab {
  height: 50px;
  border: 1px solid rgb(212, 220, 226);
  padding: 0 20px 0 10px;
  overflow: hidden;

  .chooses {
    @include flex-center;
    float: left;
    height: 100%;

    .tab {
      width: 50px;
      height: 100%;
      font-size: 12px;
      color: rgb(96, 97, 98);
      box-sizing: border-box;
      @include flex-center;

      &[value="true"] {
        border-bottom: 2px solid rgb(0, 120, 215);
        border-bottom-width: 3px;
        color: #000;
      }
    }
  }

  .close {
    @include flex-center;
    float: right;
    height: 100%;
    width: 65px;
    justify-content: space-between;
  }
}

.searchContent {
  height: calc(100% - 50px);
  display: flex;
  overflow-y: scroll;
    /* 定义滚动条样式 */
  &::-webkit-scrollbar {
    width: 20px;
  }

  /*定义滚动条轨道 内阴影+圆角*/
  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
    background-color: rgba(240, 240, 240);
  }

  /*定义滑块 内阴影+圆角*/
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
    background-color: rgba(122, 122, 122, 0.3);
    &:hover {
      background-color: rgba(122, 122, 122);
    }
  }


  .bestMatch {
    width: 47%;
    height: 100%;
    overflow-y: auto;

    .bestText {
      padding-top: 10px;
      padding-left: 10px;
      font-size: 13px;
      font-weight: 900;
    }

    .bestApp {
      height: 70px;
      @include flex-center;
      justify-content: flex-start;

      &[data-active="true"] {
        background-color: rgb(143, 181, 208);
      }

      .iconBox {
        @include flex-center;
        width: 50px;
      }

      .infoBox {
        margin-left: 5px;

        .appName {
          margin-bottom: 5px;
        }

        .appType {
          font-size: 13px;
          color: rgb(8, 8, 8, 0.7);
        }
      }
    }

    .appListText {
      padding-top: 10px;
      padding-left: 10px;
      font-size: 13px;
      font-weight: 900;
    }

    .matchAppItem {
      &:hover {
        background-color: rgb(183, 183, 183);

        .rightBox {
          border-left: 1px solid #fff;
        }
      }

      height: 35px;
      @include flex-center;
      justify-content: flex-start;

      &[data-active="true"] {
        background-color: rgb(143, 181, 208);

        .appContent {
          &:hover {
            background-color: rgb(130, 186, 229);
          }
        }

        .rightBox {
          border-left: 1px solid #fff;

          &:hover {
            background-color: rgb(130, 186, 229);
          }
        }
      }

      .appContent {
        padding-left: 15px;
        flex: 1;
        height: 100%;
        @include flex-center;
        justify-content: flex-start;

        &:hover {
          background-color: rgb(163, 163, 163);
        }

        .text {
          margin-left: 15px;
        }
      }

      .rightBox {

        @include flex-center;

        &:hover {
          background-color: rgb(163, 163, 163);
        }

        width: 60px;
        height: 100%;
        margin-left: auto;
      }
    }
  }

  .info {
    width: 53%;
    height: 100%;
    box-sizing: border-box;
    margin: 10px 10px 0 10px;
    background-color: #fff;

    .appBox {
      padding: 10px 0 35px 0;
      margin-bottom: 10px;
      text-align: center;
      border-bottom: 1px solid rgb(212, 220, 226);

      .appIcon {
        height: 90px;
        @include flex-center;
      }

      .appName {
        font-size: 18px;
        margin: 5px 0;
        font-weight: 600;
      }

      .appType {
        font-size: 12px;
        color: rgb(102, 102, 102);
      }
    }

    .operationList {
      .operation {
        &:hover {
          background-color: rgba(183, 183, 183, 0.7);
        }

        font-size: 12px;
        height: 30px;
        @include flex-center;
        justify-content: flex-start;

        .operationIcon {
          margin: 0 10px 0 20px;
        }
      }
    }
  }

  .recommand {
    width: 47%;
    height: 100%;


    .title {
      padding: 20px 0 20px 25px;
      font-weight: 700;
      font-size: 12px;
      color: rgb(80, 83, 84);
    }

    .content {
      padding: 0px 25px;

      .appItem {
        border-bottom: 1px solid rgb(212, 220, 226);
        height: 55px;
        @include flex-center;
        justify-content: flex-start;
        padding-left: 10px;

        .text {
          margin-left: 10px;
        }
      }
    }
  }

  .hotContent {
    width: 53%;
    height: 100%;

    .title {
      padding: 20px 0 0 0;
      font-weight: 700;
      font-size: 12px;
      color: rgb(80, 83, 84);
    }

    .hotApp {
      .appBox {
        overflow: hidden;

        .app {
          float: left;
          width: 125px;
          box-sizing: border-box;
          padding-bottom: 15px;
          margin-right: 10px;
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          background-color: rgba(255, 255, 255, 0.7);

          .iconBox {
            padding: 7px 0;
          }

          .name {
            text-align: center;
          }
        }
      }
    }

    .appItem {
      border-bottom: 1px solid rgb(212, 220, 226);
      height: 55px;
      @include flex-center;
      justify-content: flex-start;
      padding-left: 10px;

      .text {
        margin-left: 10px;
      }
    }

  }
}